@model string

<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                </li>
                <li class="active">@Model </li>
            </ul>
        </div>
    </div>
</div>
