<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norda - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- All CSS is here
    ============================================ -->

    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="~/assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="~/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="~/assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .activesize {
            border: 2px solid red !important;
        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        @await Component.InvokeAsync("Header")

        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            @*@await Component.InvokeAsync("MiniCart")*@
        </div>

        @RenderBody()

        <!-- Footer -->
        @await Component.InvokeAsync("Footer")

        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body"></div>
                    @*@await Component.InvokeAsync("QuickViewProduct")*@
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </div>

    <!-- All JS is here
    ============================================ -->

    <script src="~/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="~/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.js"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/assets/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/plugins/wow.js"></script>
    <script src="~/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.js"></script>
    <script src="~/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="~/assets/js/plugins/easyzoom.js"></script>
    <script src="~/assets/js/plugins/scrollup.js"></script>
    <script src="~/assets/js/plugins/ajax-mail.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/assets/js/plugins/html2canvas.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/custom/util.js"></script>
    <script src="~/assets/js/custom/custom.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>