@using NordaShop.Admin.Models.Post
@using NordaShop.Admin.Models.Tag
@model CEPostViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["PageName"] = "item-editor-page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/plugins/ckeditor_4.16.2_full/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDescription', {
                filebrowserBrowseUrl: '/Blog/BrowseCkEditor',
                filebrowserUploadUrl: '/Blog/UploadCkEditor'
                //filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                //filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                //filebrowserUploadUrl: '/Blog/UploadCkEditor',
                //filebrowserImageUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Images'
            });

        });
    </script>
}
<div class="title-block">
    <h1 class="title"> Tạo bài viết mới </h1>
</div>
<div class="col-md-12">
    <div class="card card-block sameheight-item">
        <form role="form" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group has-success">
                <label class="control-label">Tiêu đề bài viết</label>
                <input type="text" asp-for="Title" class="form-control underlined">
                <span asp-validation-for="Title" class="has-success text-danger"></span>
            </div>
            <div class="form-group has-success">
                <label class="control-label">Seo alias</label>
                <input type="text" asp-for="SeoAlias" class="form-control underlined">
                <span asp-validation-for="SeoAlias" class="has-success text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nội dung bài viết</label>
                <textarea asp-for="ReviewContent" id="txtDescription" cols="10" rows="20" class="form-control"></textarea>
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <div>
                    @foreach (var item in Model.Tags ?? Enumerable.Empty<TagViewModel>())
                    {
                        <label>
                            <input class="checkbox" asp-for="@item.Checked" value="@item.Id" name="tag" type="checkbox">
                            <span>@item.TagName</span>
                        </label>
                    }
                </div>
            </div>
            <div class="form-group has-success">
                <div class="row">
                    <div class="col-sm-8 form-group has-success">
                        <label class="control-label">Hình minh họa </label>
                        <input type="file" accept=".png, .jpg, .jpeg, .gif" asp-for="ImageFile" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group has-success">
                        <label class="control-label">Tùy chọn </label>
                        <div>
                            <label>
                                <input class="checkbox" asp-for="IsActive" type="checkbox">
                                <span>Kích hoạt</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top:40px;">
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </div>
        </form>
    </div>
</div>
