
@{
    ViewData["Title"] = "AccessDenied";
    ViewData["IsHome"] = false;
}

@await Component.InvokeAsync("Breadcrumb", new { pagename = "Chặn truy cập" })

<div class="order-tracking-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 ms-auto me-auto">
                <div class="order-tracking-content">

                    <h2 style="text-align:center;color:red;">Chặn truy cập!</h2>
                    <h3 style="text-align:center;"> Bạn không thể thực hiện thao tác này.</h3>
                    <p>
                        Đến trang đăng nhập: 
                        <a asp-action="SignIn" asp-controller="Account"><strong>Đăng nhập ngay</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

