@using NordaShop.Admin.Models.Account 
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .validation-summary-errors ul{
        list-style-type:none;
        padding:0;
    }
</style>

<div class="auth-content">
    <p class="text-center">LOGIN TO CONTINUE</p>
    <form asp-action="Login" asp-controller="Account" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" asp-for="Username" class="form-control underlined" placeholder="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" asp-for="Password" class="form-control underlined" placeholder="Your password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="remember">
                <input class="checkbox" id="remember" asp-for="RememberMe" type="checkbox">
                <span>Remember me</span>
            </label>
            <a href="#" class="forgot-btn pull-right">Forgot password?</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </div>
    </form>
</div>

